<ion-header>
  <ion-toolbar [color]="favoriteColor">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ getName(3) }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="changeColor()">
        <ion-icon name="settings-sharp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">
      Enter Color
    </ion-label>
    <ion-input type="text" [(ngModel)]="favoriteColor"></ion-input>
  </ion-item>


</ion-content>

<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>