<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ 'kh' | uppercase}} ({{ date | date:'dd MMM yyyy' }})
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showAddDialog()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="showMenuPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>

      <ion-button (click)="setupGeolocation()">
        <ion-icon slot="icon-only" name="locate"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="circles"
      refreshingSpinner="circles" 
      refreshingText="Updating data"
    ></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="base64">
    <ion-img [src]="'data:image/jpeg;base64,' + base64"></ion-img>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let customer of customersData | async">
      <!-- <ion-item [routerLink]="['/office','123']"> -->
      <ion-item (click)="navigateToOffice(customer)">
        <ion-avatar slot="start">
          <ion-img [src]="customer.picture"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ customer.name }}</h2>
          <p>Balance {{ customer.balance }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="delete(customer)">
          <ion-icon name="trash-sharp" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  

</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-button expand="block" color="danger" (click)="takePhoto()"> Take Picture </ion-button>
  </ion-toolbar>
</ion-footer>


